@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

body {
  transition: 0.3s;
  margin: 0;
  padding: 0;
  background-color: rgb(241, 232, 232);
  font-family: 'Gowun Dodum', sans-serif;
  color: rgb(57, 57, 57);
}

h1 {
  font-size: 70px;
  line-height: 70px;
  font-weight: 300;
  margin: 10px 0;
}

h2 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
  margin: 50px 0 10px 0;
}

p {
  margin: 0px;
  font-size: 20px;
}

a {
  color:rgb(236, 79, 79);
  font-size: 20px;
  text-decoration: none;
  font-weight: 100;

}

.dark a {
  color: rgb(124, 124, 245);
}

header {
  display: flex;
  justify-content: center;
}

.switch {
  width: 80px;
  height: 40px;
  border-radius: 20px;;
  background-color: rgb(81, 18, 97);
  position: relative;
}

.flicker {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(255, 187, 187);
  position: absolute;
  top: 5px;
  left: 5px;
  transition: 0.3s;
  box-shadow: 
    inset 4px 4px 4px rgb(219, 230, 227),
    inset -4px -4px 4px rgb(185 178 190 / 90%);
}

.dark {
  background-color: rgb(81, 18, 97);
  transition: 0.3s;
}

.moon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 rgb(255, 187, 187);
  position: absolute;
  top: 5px;
  left: 45px;
}

.dark .flicker {
  transform: translateX(40px);
}

.dark > * {
  color:rgb(255, 187, 187);
}

.main {
  height: 80vh;
}

.main-text {
  width: 50%;
  padding: 30px;
}

.square {
  width: 98%;
  margin: 1%;
  height: 350px;
  background-color: rgb(135, 172, 159);
  text-align: center; 
}

.dark .square {
  background-color: rgb(138, 126, 126);
}


.sub-section {
  display: flex;
  flex-wrap: wrap;
}

footer {
  display: flex;
  justify-content: center;
  padding: 100px 30px;
  background-color: antiquewhite;
}

.dark footer {
  background-color: rgb(138, 126, 126);
}


@media only screen and (min-width: 970px) {
  .square {
    width: 48%;
    margin: 1%;
    height: 600px;
  }
}